[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/mpeg;audio/mp4;audio/x-wav;audio/flac;audio/x-flac;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/aac;audio/x-aac;audio/x-m4a;audio/x-ms-wma;audio/webm;audio/x-ape;audio/x-matroska;audio/ac3;audio/eac3;audio/x-aiff;
Actions=ConvertAudio;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-audio-converter

[Desktop Action ConvertAudio]
Icon=big-audio-converter
Name=Convert or edit audio
Name[be]=Пераўтварыць або адрэдагаваць гук
Name[bg]=Конвертиране или редактиране на звук
Name[cs]=Převést nebo upravit zvuk
Name[da]=Konvertér eller rediger lyd
Name[de]=Audio konvertieren oder bearbeiten
Name[el]=Μετατροπή ή επεξεργασία ήχου
Name[en]=Convert or Edit Audio
Name[es]=Convertir o editar audio
Name[et]=Teisenda või muuda heli
Name[fi]=Muunna tai muokkaa ääntä
Name[fr]=Convertir ou modifier du son
Name[he]=המרה או עריכה של שמע
Name[hr]=Pretvori ili uredi zvuk
Name[hu]=Hang átalakítása vagy szerkesztése
Name[is]=Umbreyta eða breyta hljóði
Name[it]=Converti o modifica audio
Name[ja]=音声を変換・編集
Name[ko]=오디오 변환 또는 편집
Name[nl]=Audio converteren of bewerken
Name[no]=Konverter eller rediger lyd
Name[pl]=Konwertuj lub edytuj dźwięk
Name[pt_BR]=Converter ou editar áudio
Name[pt]=Converter ou editar áudio
Name[ro]=Convertește sau editează sunetul
Name[ru]=Преобразовать или отредактировать звук
Name[sk]=Konvertovať alebo upraviť zvuk
Name[sv]=Konvertera eller redigera ljud
Name[tr]=Sesi Dönüştür veya Düzenle
Name[uk]=Перетворити або редагувати звук
Name[zh_CN]=转换或编辑音频
Name[zh]=转换或编辑音频
Name[zh_TW]=轉換或編輯音訊
Name[nb]=Konverter eller rediger lyd
Name[zh_Hans]=转换或编辑音频
Name[zh_Hant]=轉換或編輯音訊
Name[zh_Hans_CN]=转换或编辑音频
Name[zh_Hant_TW]=轉換或編輯音訊
Exec=big-audio-converter-gui %U
