[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;video/x-matroska;video/webm;video/x-msvideo;video/quicktime;video/x-flv;video/mpeg;video/x-ms-asf;video/ogg;video/x-theora+ogg;video/3gpp;
Actions=ExtractAudio;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-audio-converter

[Desktop Action ExtractAudio]
Icon=big-audio-converter
Name=Extract audio
Name[pt]=Extrair áudio
Name[es]=Extraer audio
Name[bg]=Извлечи Аудио
Name[cs]=Extrahovat audio
Name[da]=Udtræk lyd
Name[de]=Audio extrahieren
Name[el]=Εξαγωγή Ήχου
Name[et]=Ekstraheer heli
Name[fi]=Pura Ääni
Name[fr]=Extraire audio
Name[he]=חלץ אודיו
Name[hr]=Izdvoji audio
Name[hu]=Hang kivonás
Name[is]=Sækja hljóð
Name[it]=Estrai audio
Name[ja]=オーディオを抽出
Name[ko]=오디오 추출
Name[nl]=Audio extraheren
Name[no]=Trekk ut lyd
Name[pl]=Wyciągnij audio
Name[ro]=Extrage audio
Name[ru]=Извлечь aудио
Name[sk]=Extrahovať audio
Name[sv]=Extrahera ljud
Name[tr]=Ses Çıkar
Name[uk]=Витягти aудіо
Name[zh]=提取音频
Exec=big-audio-converter-gui %U
