[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=audio/mpeg;audio/mp4;audio/x-wav;audio/x-flac;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/aac;audio/x-aac;audio/x-m4a;audio/x-ms-wma;audio/webm;audio/x-ape;audio/x-matroska;audio/ac3;audio/eac3;
Actions=ConvertAudio;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=true
Icon=big-audio-converter

[Desktop Action ConvertAudio]
Icon=big-audio-converter
Name=Convert or edit audio
Name[pt]=Converter ou editar áudio
Name[es]=Convertir o editar audio
Name[bg]=Конвертирай или Редактирай Аудио
Name[cs]=Převést nebo upravit audio
Name[da]=Konverter eller rediger lyd
Name[de]=Audio konvertieren oder bearbeiten
Name[el]=Μετατροπή ή Επεξεργασία Ήχου
Name[et]=Teisenda või redigeeri heli
Name[fi]=Muunna tai muokkaa Ääntä
Name[fr]=Convertir ou éditer audio
Name[he]=המר או ערוך אודיו
Name[hr]=Pretvori ili uredi audio
Name[hu]=Hang Átalakítás vagy szerkesztés
Name[is]=Breyta eða breyta hljóði
Name[it]=Converti o modifica audio
Name[ja]=オーディオを変換または編集
Name[ko]=오디오 변환 또는 편집
Name[nl]=Audio converteren of bewerken
Name[no]=Konverter eller rediger lyd
Name[pl]=Konwertuj lub edytuj audio
Name[ro]=Convertește sau editează audio
Name[ru]=Конвертировать или pедактировать aудио
Name[sk]=Konvertovať alebo upraviť audio
Name[sv]=Konvertera eller redigera ljud
Name[tr]=Ses dönüştür veya düzenle
Name[uk]=Конвертувати або pедагувати aудіо
Name[zh]=转换或编辑音频
Exec=big-audio-converter-gui %U
