[Desktop Entry]
Name=Audio Converter
Name[be]=Аўдыяканвертар
Name[bg]=Аудиоконвертор
Name[cs]=Převodník zvuku
Name[da]=Lydkonverter
Name[de]=Audiokonverter
Name[el]=Μετατροπέας ήχου
Name[en]=Audio Converter
Name[es]=Conversor de audio
Name[et]=Heliteisendaja
Name[fi]=Äänimuunnin
Name[fr]=Convertisseur audio
Name[he]=ממיר שמע
Name[hr]=Pretvornik zvuka
Name[hu]=Hangátalakító
Name[is]=Hljóðbreytir
Name[it]=Convertitore audio
Name[ja]=音声コンバーター
Name[ko]=오디오 변환기
Name[nl]=Audioconverter
Name[no]=Lydkonverterer
Name[pl]=Konwerter dźwięku
Name[pt_BR]=Conversor de áudio
Name[pt]=Conversor de áudio
Name[ro]=Convertor audio
Name[ru]=Аудиоконвертер
Name[sk]=Konvertor zvuku
Name[sv]=Ljudkonverterare
Name[tr]=Ses Dönüştürücü
Name[uk]=Аудіоконвертер
Name[zh_CN]=音频转换器
Name[zh]=音频转换器
Name[zh_TW]=音訊轉換器
Name[nb]=Lydkonverterer
Name[zh_Hans]=音频转换器
Name[zh_Hant]=音訊轉換器
Name[zh_Hans_CN]=音频转换器
Name[zh_Hant_TW]=音訊轉換器
TryExec=big-audio-converter-gui
Exec=big-audio-converter-gui %F
Icon=big-audio-converter
StartupWMClass=big-audio-converter
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Keywords=audio;video;converter;mp4;mp3;wav;ac3;aac;ffmpeg;
X-GNOME-UsesNotifications=true
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;audio/ogg;audio/x-opus+ogg;audio/opus;audio/x-matroska;audio/webm;

