[Desktop Entry]
Name=Big Audio Converter
Name[pt]=Conversor de Áudio Big
Name[es]=Convertidor de Audio Big
Name[bg]=Big Аудио Конвертор
Name[cs]=Big Audio Převaděč
Name[da]=Big Audiokonverter
Name[de]=Big Audio-Konverter
Name[el]=Μετατροπέας Ήχου Big
Name[et]=Big Audio Teisendaja
Name[fi]=Big Äänimuunnin
Name[fr]=Convertisseur Audio Big
Name[he]=ממיר אודיו Big
Name[hr]=Big Audio Pretvarač
Name[hu]=Big Audió Átalakító
Name[is]=Big Hljóðbreytir
Name[it]=Convertitore Audio Big
Name[ja]=Big オーディオコンバーター
Name[ko]=Big 오디오 변환기
Name[nl]=Big Audioconverter
Name[no]=Big Audiokonverterer
Name[pl]=Konwerter Audio Big
Name[ro]=Convertor Audio Big
Name[ru]=Конвертер Аудио Big
Name[sk]=Big Audio Konvertor
Name[sv]=Big Audiokonverterare
Name[tr]=Big Ses Dönüştürücü
Name[uk]=Аудіо Конвертер Big
Name[zh]=Big 音频转换器
Exec=big-audio-converter-gui %F
Icon=big-audio-converter
StartupWMClass=big-audio-converter
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;
Keywords=audio;video;converter;mp4;mp3;wav;ac3;aac;ffmpeg;
X-GNOME-UsesNotifications=true
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;

