[Desktop Entry]
Name=Audio Converter
Name[pt]=Conversor de Áudio
Name[es]=Convertidor de Audio
Name[bg]=Аудио Конвертор
Name[cs]=Audio Převaděč
Name[da]=Audiokonverter
Name[de]=Audio-Konverter
Name[el]=Μετατροπέας Ήχου
Name[et]=Audio Teisendaja
Name[fi]=Äänimuunnin
Name[fr]=Convertisseur Audio
Name[he]=ממיר אודיו
Name[hr]=Audio Pretvarač
Name[hu]=Audió Átalakító
Name[is]=Hljóðbreytir
Name[it]=Convertitore Audio
Name[ja]=オーディオコンバーター
Name[ko]=오디오 변환기
Name[nl]=Audioconverter
Name[no]=Audiokonverterer
Name[pl]=Konwerter Audio
Name[ro]=Convertor Audio
Name[ru]=Конвертер Аудио
Name[sk]=Audio Konvertor
Name[sv]=Audiokonverterare
Name[tr]=Ses Dönüştürücü
Name[uk]=Аудіо Конвертер
Name[zh]=音频转换器
Exec=big-audio-converter-gui %F
Icon=big-audio-converter
StartupWMClass=big-audio-converter
StartupNotify=true
Terminal=false
Type=Application
Categories=AudioVideo;
Keywords=audio;video;converter;mp4;mp3;wav;ac3;aac;ffmpeg;
X-GNOME-UsesNotifications=true
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/mpeg;video/x-m4v;video/mp2t;video/x-flv;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;

